[Desktop Entry]
Version=1.0
Type=Link
Name=informacoesGlobais.js
Comment=
Icon=user-bookmarks
URL=https://github.com/IsaMaciel/Criando-gr-ficos-din-micos---3-tri/blob/main/informacoesGlobais.js
